# List

In [ ]:
# If we want to represent a group of individual objects as a single entity where insertion
# order preserved and duplicates are allowed, then we should go for List.
# 1.insertion order preserved.
# 2.duplicate objects are allowed
# 3.heterogeneous objects are allowed.
# 4.List is dynamic because based on our requirement we can increase the size and decrease
# the size.
# 5.In List the elements will be placed within square brackets and with comma seperator.
# 6.We can differentiate duplicate elements by using index and we can preserve insertion
# order by using index. Hence index will play very important role.
# 7.Python supports both positive and negative indexes.

### How to create List object

In [3]:
#how to crate list object

list1= eval(input('Enter list:-'))
print(list1)

l1= list(range(100,110,1))
print(l1)
type(l1)

s = "d kumar sharma"
l = s.split()
print(l)
type(l)

Enter list:-['a','b','c']
['a', 'b', 'c']
[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]
['d', 'kumar', 'sharma']

list

In [2]:
l=[*range(0,10)]
print(l)

l2 = [range(0,12)]
print(l2)
print(type(l2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[range(0, 12)]
<class 'list'>

### Comprehession

In [10]:
#creating list using list comprehession

list = [i for i in range(10)]
print(list)

list1 = [var for var in range(1,100) if var%2]
print(list1)

list1 = [var for var in range(1,100) if var!=var%2]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

### Accessing elements of List

In [17]:
#1. by using index
#2. by using slice operator

#1.
l1= ['a','b','c','d','123','e']
print(l1[4])
print(l1[-1])

#2.
# list2 = list1[start:stop:step]
print('slice')
print(l1[4:5:])
print(l1[-1:-2:-1])

print('---')
i=0
while i<len(l1):
    print(l1[i])
    i = i+1

123
e
slice
['123']
['e']
---
a
b
c
d
123
e

List of Functions

### Function

In [2]:
1. len(<list>)  #return number of elements 
2. <list>.count(<item>)  #return number of occurrence of specified item in the list
3. <list>.index(<item>) #return index of the first occurracne of the item
4. min(<list>) #find minimum of the element from the list
5. max(<list>) #find max of the element from the list
6. sum(<list>) #sum of all element


#adding element in list
1. <list>.append(<item>) #add item at the end of the list
2. <list>.insert(pos,ele) #add item at the specific index position
3. <list_1>.extend(<list_2>) #add 2nd list item to first list

# deletion of the element
1. <list>.pop() #remove and return last item of the list/ we can use this to del item using index also
2. <list> del #delete the list object
3. <list>.remove(<item>) #remove first item based on the specific item

#sort and reverse
1. <list>.sort()
2. <list>.sort(reverse=True)


# to clear all the element of list
1. <list>.clear()

In [12]:
list = [1,2,3,4,4,5,3,3,6]

print(len(list))
print(list.count(3))
print(list.index(4))
print(sum(list))
print(min(list))

9
3
3
31
1

In [18]:
l1 = [1,2,2,3,4,5]
l2 = [11,22,0,43]

l1.append(0)
print(l1)

l1.insert(2,3)
print(l1)

l1.extend(l2)
print(l1)

[1, 2, 2, 3, 4, 5, 0]
[1, 2, 3, 2, 3, 4, 5, 0]
[1, 2, 3, 2, 3, 4, 5, 0, 11, 22, 0, 43]

In [19]:
l1.pop()
print(l1)

[1, 2, 3, 2, 3, 4, 5, 0, 11, 22, 0]

In [20]:
l1.remove(0)
print(l1)

[1, 2, 3, 2, 3, 4, 5, 11, 22, 0]

In [21]:
del l1
print(l1)

NameError: name 'l1' is not defined

In [23]:
l11 = [1, 2, 3, 2, 3, 4, 5, 0, 11, 22, 0, 43]
print(l11)

l11.sort()
print(l11)
l11.sort(reverse=True)
print(l11)

[1, 2, 3, 2, 3, 4, 5, 0, 11, 22, 0, 43]
[0, 0, 1, 2, 2, 3, 3, 4, 5, 11, 22, 43]
[43, 22, 11, 5, 4, 3, 3, 2, 2, 1, 0, 0]

### Aliasing and Cloning

In [24]:
#Aliasing and cloning of the list object
# Aliasing points the the same reference of variable
# cloning creates the new object

list1 =[1,2,3,4]
print(id(list1))

list2 = list1
print(id(list2))

list2.append(11)
print(list2)
print(id(list2))

print(list1)
print(id(list1))

#Note: assigning of the one variable to another variable/aliasing performs
#      operation on the same object of the list

1648817979136
1648817979136
[1, 2, 3, 4, 11]
1648817979136
[1, 2, 3, 4, 11]
1648817979136

In [25]:
# if we want to creae a anothe object of the list then we will go with copy() function
#1. list.copy()

list1 =[1,2,3,4]
print(id(list1))

list2 = list1.copy()
print(id(list2))

list2.append(11)
print(list2)
print(id(list2))

print(list1)
print(id(list1))

1648818239424
1648817929664
[1, 2, 3, 4, 11]
1648817929664
[1, 2, 3, 4]
1648818239424

### Mathematical Operation

In [28]:
#1. Concatenation operator (+)
#2. Repetition Operator (*)

list = [1,2,3,4]
list_t = [11,22,33]

l = list+list_t
print(l)

l = list*5
print(l)

[1, 2, 3, 4, 11, 22, 33]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

### Membership

In [33]:
## Membership operators
# to check element inside the list
# 1. in
# 2. not in

list =[1,2,3,4,5]
print(5 in list)
print(55 not in list)

## clear() function 
# to remvoe all element of list

print(list)
list.clear()
print(list)

True
True
[1, 2, 3, 4, 5]
[]

### Nested List

In [36]:
##Nested List

list_nes = [[1,2,3],[11,22,33],[123,234,345]]
print(list_nes)

for list in list_nes:
    print('list-',list)
    for l in list:
        print(l)

[[1, 2, 3], [11, 22, 33], [123, 234, 345]]
list- [1, 2, 3]
1
2
3
list- [11, 22, 33]
11
22
33
list- [123, 234, 345]
123
234
345