# Set

If we want to represent a group of unique values as a single entity then we should go
for set.
 Duplicates are not allowed.
 Insertion order is not preserved.But we can sort the elements.
 Indexing and slicing not allowed for the set.
 Heterogeneous elements are allowed.
 Set objects are mutable i.e once we creates set object we can perform any changes in
that object based on our requirement.
 We can represent set elements within curly braces and with comma seperation
 We can apply mathematical operations like union,intersection,difference etc on set
objects.

### How to create set object

In [5]:


s ={1,22,3,4,'dk '}
print(s)
print(type(s))

s = set(range(10))
print(s)

{1, 3, 4, 'dk ', 22}
<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
## Set doesn't support indexing and slicing 

s = {10,20,'dk',True}
print(s)
print(s[2])
print(s[1:3])

{'dk', 10, 20, True}

TypeError: 'set' object is not subscriptable

### Function of set

In [ ]:

1. <set>.add(<item>)
#Arguments are not individual elements and these are Iterable objects like List,range etc.
2. <set>.update(<item_1>,<item_2>,<item_3>)
3. <set>.copy()
4. <set>.pop()
5. <set>.remove() # If the specified element not present in the Set then we will get KeyError
6. <set>.discard(<item>) # If the specified element not present in the Set then we will not get Error
7. <set>.clear()

In [25]:
#Example
s = {10,20,20,20,30,'dk',4001,False}
print(s)

s.add(4001)
print(s)
s.add('dk')
print(s)
s.add('kumar')
print(s)

print('--update--')
s.update((101,102))
print(s)
s.update(range(5))
print()

l =[10,10,11,12]
s.update(l)
print(s)

print('\n--copy--')
s1 = s.copy()
print(s1)
print(id(s))
print(id(s1))

print('\n--pop--')
print(s.pop())
print(s.pop())
print(s)

print('\n --remove---')
s.remove('kumar')
print(s)

print('\n--discard')
s.discard('kumar kumar')
print(s)
s.discard('dk')
print(s)

print('\n -- clear --')
s.clear()
print(s)

s.add('dk')
print(s)

{False, 'dk', 4001, 20, 10, 30}
{False, 'dk', 4001, 20, 10, 30}
{False, 'dk', 4001, 20, 10, 30}
{False, 'dk', 4001, 'kumar', 20, 10, 30}
--update--
{False, 10, 20, 30, 'dk', 4001, 101, 102, 'kumar'}

{False, 1, 2, 3, 4, 10, 11, 12, 20, 30, 'dk', 4001, 101, 102, 'kumar'}

--copy--
{False, 1, 2, 3, 4, 'dk', 4001, 101, 102, 10, 11, 12, 'kumar', 20, 30}
1420684950688
1420682842784

--pop--
False
1
{2, 3, 4, 10, 11, 12, 20, 30, 'dk', 4001, 101, 102, 'kumar'}

 --remove---
{2, 3, 4, 10, 11, 12, 20, 30, 'dk', 4001, 101, 102}

--discard
{2, 3, 4, 10, 11, 12, 20, 30, 'dk', 4001, 101, 102}
{2, 3, 4, 10, 11, 12, 20, 30, 4001, 101, 102}

 -- clear --
set()
{'dk'}

### Mathematical Operations

In [ ]:
## Mathematical Operations

1. <set_1>.union(<set_2>) # return all elements
2. <set_1>.intersection(<set_2>) # return comman elements
3. <set_1>.difference(<set_2>) # return set_1 ele that is not available in set_2
4. <set_1>.symmetric_difference(<set_2>) #return uncommand element

## Membership Operator

1. in 
2. not in

In [28]:
# Example

s1 = {1,2,3,4,5,'kumar'}
s2 = {4,5,6,7,8,'dk'}

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

print('\n -- membership --')
print('dk' in s)
print('dk' not in s)

{1, 2, 3, 4, 5, 'dk', 6, 7, 8, 'kumar'}
{4, 5}
{'kumar', 1, 2, 3}
{1, 2, 3, 6, 7, 8, 'dk', 'kumar'}

 -- membership --
True
False

### Set Comprehesion

In [ ]:

s = {item*item for item in range(100,105)}
print(s)